<div class="card text-white bg-danger">
    <div class="card-header">
        <h4><em class="fa-brands fa-centos"></em> Work-Anniversary</h4>
    </div>
    <div class="card-body p-0">
        <div *ngIf="user.length!=0 else nouser">
            <ul class="list-group" *ngFor="let u of user">
                <li class="list-group-item list-group-item-danger d-flex justify-content-between">
                    <span>{{ u.fname | titlecase }} {{ u.lname | titlecase }}</span>
                    <span>{{ u.jdate | date: 'fullDate' }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<ng-template #nouser>
    <p class="text-center p-3">No Work-Anniversary This month</p>
</ng-template>