<div class="row">
    <div class="col-12 col-md-6 col-lg-4 my-3">
        <div class="card text-white bg-primary">
            <div class="card-header">
                <h4><em class="fa-solid fa-star"></em> Welcome to EMS</h4>
            </div>
            <div class="card-body p-0">
                <ul class="list-group">
                    <li class="list-group-item list-group-item-primary d-flex">
                        Id : {{ loggedUser.id }}
                    </li>
                    <li class="list-group-item list-group-item-primary d-flex">
                        Email : {{ loggedUser.email }}
                                        </li>
                    <li class="list-group-item list-group-item-primary d-flex">
                        Roles : {{ loggedUser.roles }}
                                        </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-3">
        <app-birthday></app-birthday>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-3">
        <app-work-anniversary></app-work-anniversary>
    </div>
    <div class="col-12 col-md-6 col-lg-4 my-3">
        <app-attendance-card [id]="id"></app-attendance-card>
    </div>
    <div class="col-12 col-md-12 col-lg-8 my-3">
        <app-attendance-graph [id]="id"></app-attendance-graph>
    </div>
</div>