<div class="container col-lg-6">
  <h2 class="text-center">Login</h2>
  <div class="card">
    <div class="card-body">
      <form #userForm="ngForm" (ngSubmit)="userForm.form.valid && handleLogin()" class="needs-validation">

        <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
        <div class="alert alert-success" *ngIf='loginSuccess || signupSuccess'>{{successMessage}}</div>

        <div class="form-group">
          <label for="email">Email :</label>
          <input type="email" class="form-control" id="email" [(ngModel)]="email" placeholder="Enter Email"
            aria-describedby="emailHelp" placeholder="Enter email" name="email" #emails="ngModel"
            [ngClass]="{ 'is-invalid':userForm.submitted && emails.invalid, 'is-valid':userForm.submitted && emails.valid}"
            email required>
          <div *ngIf="userForm.submitted && emails.invalid" class="invalid-feedback">
            <div *ngIf="emails.errors?.['required']">Email is required</div>
            <div *ngIf="emails.errors?.['email']">Must be a valid email address</div>
          </div>
          <div *ngIf="userForm.submitted && emails.valid" class="valid-feedback">
            <div>Excellent</div>
          </div>
        </div>

        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" [(ngModel)]="password" id="password" placeholder="Enter password"
            name="password" #pwd="ngModel"
            [ngClass]="{ 'is-invalid':userForm.submitted && pwd.invalid, 'is-valid':userForm.submitted && pwd.valid} "
            required>
          <div *ngIf="userForm.submitted && pwd.invalid" class="invalid-feedback">
            <div *ngIf="pwd.errors?.['required']">Password is required</div>
          </div>
          <div *ngIf="userForm.submitted && pwd.valid" class="valid-feedback">
            <div>Excellent</div>
          </div>
        </div>

        <button type="submit" class="btn btn-success m-2">Login</button>
        <a routerLink="/signup" class="btn btn-warning m-2">New User? Sign Up</a>
      </form>
    </div>
  </div>
</div>